

:root{
    --text1 : grey;
    --bg : rgb(12, 12, 30);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fg{
    position: absolute;
    z-index: 2;
}
.bg{
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 /* background-color: var(--bg); */
 font-family: "Montserrat", sans-serif;
}
.bg h1{
    color: var(--text1);
    font-size: 10vw;
}